<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Convert YouTube Videos Into MP3</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="~/Content/vendor/bootstrap/bootstrap.min.css">
        <link rel="stylesheet" href="~/Content/vendor/angular/loading-bar/loading-bar.min.css">
        <link rel="stylesheet" href="~/Content/custom/main.css">
        <script async defer id="github-bjs" src="https://buttons.github.io/buttons.js"></script>
        <script src="~/Scripts/vendor/bootstrap/jquery-1.9.1.min.js"></script>
        <script src="~/Scripts/vendor/bootstrap/bootstrap.min.js"></script>
        <script src="~/Scripts/vendor/angular/standart/angular.min.js"></script>
        <script src="~/Scripts/vendor/angular/loading-bar/loading-bar.min.js"></script>
        <script src="~/Scripts/app/TubeToTuneApp.js"></script>
    </head>
    <body>

        <div class="container" ng-app="TubeToTuneApp" ng-controller="TuneConvertController">
     
            <a href="https://github.com/AvetisG/TubeToTune">
                <img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/a6677b08c955af8400f44c6298f40e7d19cc5b2d/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677261795f3664366436642e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png">
            </a>

            <div class="jumbotron">
                <h1>Tube to Tune</h1>
                <p>Convert any YouTube video into its MP3 equivalent and enjoy listening to it on any device of your choice!</p>
               
                <form class="form-horizontal" role="form">
                
                    <div class="row">
        
                        <div class="col-md-6">
                            <a href="#singletune" class="btn btn-primary btn-lg btn-block" role="button">
                                <span class="glyphicon glyphicon-music"></span>
                                Convert Single Tune
                            </a>     
                        </div>
                        
                        <div class="col-md-6">
                            <a href="#multipletunes" class="btn btn-warning btn-lg btn-block" role="button">
                                <span class="glyphicon glyphicon-headphones"></span>
                                Convert Multiple Tunes
                            </a>
                        </div>

                    </div>
				
                </form>

            </div>
    
            <div class="alert alert-success" ng-if="successfullyConverted == true">
                <strong>Success!</strong> You can now access your converted MP3 file from here: 
                <a href="/api/download/{{ convertedAudioFilename }}"><button class="btn btn-success">Download Audio</button></a>
            </div>
            
            <div class="alert alert-warning" ng-if="successfullyConverted == false">
                <strong>Failed!</strong> {{ exceptionMessage }}
            </div>
            
            <div ng-view=""></div>

        </div>
        
        <div class="navbar navbar-default navbar-fixed-bottom">
            <div class="container">
                <p class="navbar-text pull-left">Tube To Tune - Convert Your YouTube Videos to MP3!</p>
                <a aria-label="Star AvetisG/TubeToTune on GitHub" 
                   data-count-aria-label="# stargazers on GitHub" 
                   data-count-api="/repos/AvetisG/TubeToTune#stargazers_count" 
                   data-count-href="/AvetisG/TubeToTune/stargazers" 
                   data-style="mega" data-icon="octicon-star" href="https://github.com/AvetisG/TubeToTune" class="navbar-btn btn-primary btn pull-right">Star This App!</a>             
               
            </div>
        </div>

    </body>
</html>