﻿<div class="well well-lg">
                  
    <form class="form-horizontal" role="form">

         <div class="row">
            
            <div class="col-md-12">
                <button type="submit" class=" btn btn-info btn-lg btn-block">Convert All Tubes To Tune List</button>     
            </div>

        </div>

        <div class="row" ng-repeat="YouTubeLink in YouTubeLinks">

            <div class="col-md-10">
                <input type="text" class="form-control" placeholder="Enter YouTube video link" ng-model="youtubeVideoLink">      
            </div>
                        
            <div class="col-md-2">
                <button type="submit" class="btn btn-default" ng-click="AddOneMoreLink()">Add One More Link</button>
            </div>

        </div>
                
    </form>

</div>
