﻿<div class="well well-lg">
                  
    <form class="form-horizontal" role="form">
                
        <div class="row">
        
            <div class="col-md-10">
                <input type="text" class="form-control" placeholder="Enter YouTube video link" ng-model="youtubeVideoLink">      
            </div>
                        
            <div class="col-md-2">
                <button type="submit" class="btn btn-info" ng-click="ConvertToTune(youtubeVideoLink)">Convert Into A Tune</button>
            </div>

        </div>
                
    </form>

</div>
