﻿<div class="well well-lg">
                 
     <h1>Terms Of Use <small>Please read this before using</small></h1>
    
     <p class="lead">A nifty little web app for converting and downloading non-copyrighted YouTube videos.</p>

     <p class="lead">This is specifically made for people who make videos on YouTube and at times need non-copyrighted audio files to use in their YouTube videos.</p>

     <p class="lead">By using this service you acknowledge and agree to the following terms of service/use:</p>

     <p class="lead">1) This following service (TubeToTune) is not to be used to download audio that is copyrighted!</p>
     <p class="lead">2) TuneToTune does not condone piracy in any form. The goal of this service is to obtain legal audio that would 
         otherwise be extremely difficult, if not impossible, to find. Youtube is a perfect source for these audio clips. </p> 
    
     <p class="lead">If you are a copyright owner of any material that was downloaded using this tool please <a href="mailto:avetis.ghukasyan@outlook.com">contact me</a> and I will block that particular piece of media.</p>

     <p class="lead">Please read <a href="https://www.youtube.com/yt/copyright/fair-use.html#yt-copyright-four-factors">YouTube's Fair Use Article</a> in order not to have any problems with copyrighted content.</p>

 </div>
