<div class="well well-lg">
                 
    <h3><span class="label label-danger">Error!</span> The page you are looking for doesn't exist so please stop falling asleep on your keyboard :P</h3>    

</div>